/*
 * BUTTONS
 */
.button-style,
.button-small-style,
.button-small-wide-style,
.button-small-message-style,
.button-small-wide-message-style {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 5, 6, 7;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
    -fx-pref-height: 70px;
}

.button-large-style {
    -fx-background-color:
            #3c7fb1,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 5, 6, 7;
    -fx-background-radius: 3, 2, 1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
    -fx-pref-height: 80px;
}


.button-style:pressed,
.button-small-style:pressed,
.button-small-wide-style:pressed,
.button-small-message-style:pressed,
.button-small-wide-message-style:pressed {
    -fx-background-color: #356899,
    linear-gradient(#d9f0fc, #c6e2f8),
    linear-gradient(#c6e2f8 0%, #bee6fd 49%, #aadbf2 50%, #99d1eb 100%);
    -fx-text-fill: #333333;
}

.button-small-style {
    -fx-pref-width: 150px;
    -fx-pref-height: 45px;
}
.button-small-wide-style {
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;
}

.button-small-message-style {
    -fx-pref-width: 110;
}

.button-small-wide-message-style {
    -fx-pref-width: 180;
}

.button-style {
	-fx-font-size: 16px;
}

/*
 * NEW SECTION
 */
